<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>video1</key>
	<string>sprort-2_zgsr5k</string>
	<key>video2</key>
	<string>fashion-2_ewukga</string>
	<key>video3</key>
	<string>fashion-1_1_kuwihy</string>
	<key>video4</key>
	<string>y1phaeze5h2l7zwu9zmq</string>
	<key>video5</key>
	<string>vancbaaof5rffx3p95qe</string>
	<key>video6</key>
	<string>fzsu0bo1m21oxoxwsznm</string>
	<key>video7</key>
	<string>pyqfeubkgw0z6sxlsohu</string>
</dict>
</plist>
